<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizacion</title>
    <link rel="stylesheet" href="cotizacion.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <h1>Cotizacion </h1> 
                 <p>llene los campos para generar la cotizacion </p>
        </div>

    </header>
        <div class="container-cotizacion">
            <label for="">cliente</label>
            <input type="text">
            <label for="">empresa</label>
            <input type="text" name="" id="">
            <label for="">direccion</label>
            <input type="text" name="" id="">
            <label for="">correo</label>
            <input type="email" name="" id="">
            <label for="">telefonos</label>
            <input type="number" name="" id="">
            
        </div>
        
        <div class="container-coti-dos">
        <label for="">numero de la cotizacion</label>
        <input type="text" name="" id="">
        
        <label for="">fecha</label>
        <input type="time" name="" id="">
        
        <label for="">valido hasta</label>
        <input type="time" name="" id="">
        
        </div>
    <div>
        <table>
            <tr>
                <td>serv.</td>
                <td>descripcion</td>
                <td>precio unitario</td>
                <td>total</td>
                
            </tr>
            
            <tr>
                <td>""</td>
                <td>""</td>
                <td>""</td>
                <td>""</td>
                
            </tr>
            
            <tr>
                <td>""</td>
                <td>""</td>
                <td>""</td>
                <td>""</td>
            </tr>
        
        
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        
        </table>
    </div>
    
    <footer>

    </footer>
</body>

</html>