<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrega Productos </title>
</head>

<body>
    <header>
        <h1><a href="#">PRODUCTOS BYOF</a></h1>
    </header>
    <form action="">
        <div class="container">
            <label for="">Selecciona el Tipo </label>
            <select name="tipo" id="type"> 
                <option value="Empresarial">Empresarial</option>
                <option value="Pequeña Empresa">Pequeña Empresa</option>
                <option value="Mediana Empresa">Mediana Empresa</option>
                <option value="software">software</option>
                <option value="video juego">video juego</option>
                <option value="pagina web">pagina web</option>
             </select>


            <label for="">Selecciona el plan o el servicio</label>
            <select name="plan" id="Plan">
<option value="plan basico">plan basico</option>
<option value="plan mediano">plan mediano</option>
<option value="plan avanzado">plan avanzado</option>
<option value="Hosting">Hosting</option>
<option value="creacion de logo">creacion de logo</option>
<option value="creacion de landing page"></option>
<option value="SEO">SEO</option>
<option value="SEM">SEM</option>
<option value="marketing">marketing</option>
             </select>

            <label for="">Selecciona la fecha de entrega</label>
            <input type="date" name="" id="">
        </div>
        <label for=""> Agrega un comentario </label>
        <textarea name="" id="" cols="30" rows="10">Comentarios </textarea>
    </form>

    <footer>

    </footer>
</body>

</html>